@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  font-weight: 700;
}
li {
  list-style-type: none;
}
button{
    cursor: pointer;
}
#about-page {
  background-color: #e5e5e5;
  min-height: 100vh;
}

/*
Navigation
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo-nav {
  filter: invert(1);
  height: 100px;
  width: 100px;
  margin: 0 24px;
}
.nav-links,
.header-links {
  display: flex;
}
.nav-link {
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
  font-size: 16px;
}
.nav-link-anchor {
  color: #242424;
}

.fa-adjust {
  font-size: 32px;
}

/*
Header
*/

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}
.text-blue {
  color: rgb(29, 205, 205);
  font-weight: 700;
}
.header-title {
  font-size: 100px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.header-description {
  font-size: 24px;
  line-height: 2;
  max-width: 700px;
}
.header-links {
  margin-top: 16px;
}
.header-link {
  background-color: rgb(29, 205, 205);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 16px;
  transition: all 150ms ease-in-out;
}
.header-link-anchor {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-click:hover {
  transform: scale(1.15);
}
.icon-click:active {
  transform: scale(0.8);
}
.mail-button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  position: absolute;
  bottom: 32px;
  right: 40px;
}
.mail-button-anchor{
    font-size: 40px;
}
.fa-envelope{
    color: white;
    padding: 12px;
}