@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  font-weight: 700;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 36px;
}

#about-page {
  background-color: #e5e5e5;
  min-height: 100vh;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  padding: 50px 0;
}
input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
label {
  font-size: 14px;
  font-weight: bold;
}
input:focus,
textarea:focus {
  border-color: rgb(29, 205, 205);
}
input:hover,
textarea:hover {
  border-color: rgb(144, 187, 187);
}
.dark-theme #about-page,
.dark-theme #projects {
  background-color: #1a1a1a;
}
.dark-theme .header-title,
.dark-theme .header-description,
.dark-theme .nav-link-anchor,
.dark-theme .scroll-icon,
.dark-theme .project-title,
.dark-theme .header-links {
  color: white;
  border-color: white;
}
.dark-theme .mail-button,
.dark-theme .nav-link-hover:after,
.dark-theme .fa-envelope {
  background-color: white;
  color: #242424;
}
.dark-theme .fa-linkedin-in,
.dark-theme .github,
.dark-theme .resume {
  color: #242424;
}
.dark-theme #logo-nav {
  filter: invert(0);
}
#about-page,
#projects,
.header-title,
.header-description,
.nav-link-anchor,
.scroll-icon,
.project-title,
.header-links,
.mail-button,
.nav-link-hover:after,
.fa-envelope,
.fa-linkedin-in,
.github,
.resume,
#logo-nav {
  transition: all 400ms ease-in-out;
}

/*
Navigation
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo-nav {
  filter: invert(1);
  height: 100px;
  width: 100px;
  margin: 0 24px;
}
.nav-links,
.header-links {
  display: flex;
}
.nav-link {
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
  font-size: 16px;
}
.nav-link-anchor {
  color: #242424;
}
.nav-link-hover,
.link-hover-white {
  position: relative;
}
.nav-link-hover:after,
.link-hover-white:after {
  content: "";
  background-color: #242424;
  position: absolute;
  height: 3px;
  width: 0%;
  right: 0;
  bottom: -3px;
  transition: all 300ms ease-in-out;
}
.nav-link-hover:hover:after,
.link-hover-white:hover:after {
  width: 100%;
  left: 0;
}
.fa-adjust {
  font-size: 32px;
}
nav,
.scroll,
.header {
  visibility: visible;
  opacity: 1;
  transition: all 600ms 700ms;
}
.modal-open nav,
.modal-open .scroll,
.modal-open .header {
  visibility: hidden;
  opacity: 0;
  transition: all 400ms;
}

/*
Header
*/

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}
.text-blue {
  color: rgb(29, 205, 205);
  font-weight: 700;
}
.header-title {
  font-size: 100px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.header-description {
  font-size: 24px;
  line-height: 2;
  max-width: 700px;
}
.header-aboutMe {
  transition: all 250ms ease;
}
.header-aboutMe:hover {
  cursor: pointer;
  opacity: 0.5;
}
.header-links {
  padding: 16px 0;
  max-width: 180px;
  justify-content: space-between;
  border-bottom: 4px #242424 solid;
  animation: fade-right 1s ease-in-out;
}
@keyframes fade-right {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.header-link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
  animation: float 5s infinite ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.linkedIn-float {
  animation-delay: -2s;
}
.github-float {
  animation-delay: -1s;
}
.header-link-anchor {
  background-color: rgb(29, 205, 205);
  border-radius: 50%;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-click {
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.icon-click:hover {
  transform: scale(1.1);
}
.icon-click:active {
  transform: scale(0.8);
}
.mail-button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.fa-envelope {
  color: white;

  font-size: 40px;
}
.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 800ms infinite ease-in-out alternate-reverse;
}
.scroll-icon {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #242424;
}
@keyframes scroll {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/*
Modal
*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal-open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}
.modal-open .left,
.modal-open .right {
  transform: translateX(0%);
}

/* ^ created for javascript to open the modal
*/
.modal-half {
  width: 50%;
  padding: 40px 72px;
}
.left {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-110%);
  transition: all 400ms ease-in;
}
.right {
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateX(110%);
  transition: all 400ms ease-in;
}
.modal-title {
  font-size: 28px;
  color: black;
}
.modal-subtitle {
  color: black;
  margin: 12px 0 24px;
}
.modal-left-p {
  font-size: 20px;
  line-height: 1.8;
}
.languages-list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}
.language-icon-img {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language-icon-wrapper {
  margin: 12px;
}
.language-img {
  width: 100%;
  transition: all 250ms ease-in-out;
  position: relative;
}
.language-icon-img:hover .language-img {
  transform: scale(0.8);
  opacity: 0.9;
  filter: brightness(80%);
}
.language-name {
  position: absolute;
  transition: all 300ms ease;
  font-size: 18px;
  bottom: 0;
  transform: scale(0);
}
.language-icon-img:hover .language-name {
  transform: scale(1);
}
.right-title,
.right-subtitle {
  color: white;
}
.form-item {
  margin-bottom: 20px;
}
.form-submit {
  background-color: rgb(29, 205, 205);
  border: 2px solid rgb(29, 205, 205);
  color: white;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  padding: 12px;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}
.form-submit:hover {
  border-color: white;
  background-color: transparent;
}
.form-submit:active {
  border-color: rgb(29, 205, 205);
  color: rgb(29, 205, 205);
}
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}
.modal-loading {
  background-color: #242424;
  font-size: 120px;
}
.modal-visible {
  z-index: 1;
  display: flex;
}
/*The above modal-visible is a new class only accessed in the javascript
*/
.fa-spinner {
  animation: spin 700ms infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-success {
  font-size: 40px;
  text-align: center;
  background-color: #4bb543;
  font-weight: bold;
  padding: 30px;
}
.fa-times {
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 36px;
  z-index: 100;
  color: white;
}

/*
Projects
*/

#projects {
  background-color: rgb(244, 244, 244);
}
.project-title {
  text-align: center;
}
.project-img {
  width: 100%;
  transition: all 500ms ease;
}
.project-wrapper {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.project-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: 450ms ease;
  z-index: 2;
}
.project:hover .project-wrapper:before {
  opacity: 0.7;
}
.project:hover .project-img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project-list {
  padding: 40px 0;
}
.project:hover .project-description {
  opacity: 1;
  transform: translateY(-50%);
}
.project-description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  opacity: 0;
  z-index: 3;
  transition: 450ms, 300ms;
}
h3,
h4,
.project-description-p,
.project-description-link {
  text-align: left;
  color: white;
}
h3 {
  font-size: 40px;
}
.project-description-p {
  margin: 16px 0;
}
.project-description-link {
  font-size: 20px;
  margin-right: 16px;
}
footer {
  background-color: #1a1a1a;
}
.footer-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 0;
}
.footer-links {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}
.link-hover-white:after {
  background-color: white;
}
.footer-link {
  color: white;
}
.footer-p {
  color: white;
  margin-top: 40px;
}
.footer-logo-container {
  position: relative;
  margin-bottom: 20px;
}
.footer-logo {
  width: 100px;
  height: 100px;
}

.top {
  color: white;
}
.footer-logo-top {
  position: absolute;
  right: 0;
  top: 50px;
  font-weight: 400;
  transition: all 300ms ease;
  opacity: 0;
}
.footer-logo-container:hover .footer-logo-top {
  transform: translateX(60px);
  opacity: 1;
}
